.alert {
  border: none;
}

.alert-info {
  background-color: #2070d0;
  color: #fff;
}

.alert-success {
  background-color: #09894e;
  color: #fff;
}

.alert-warning {
  background-color: #ffcb00;
  color: #323232;
}

.alert-danger {
  background-color: #e10d11;
  color: #fff;
}
