<div style="width:600px; margin: auto;padding: 25px;" [style.backgroundColor]="color">
    <div class="alert alert-success" role="alert">
        A simple success alert with
        <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div class="alert alert-danger" role="alert">
        A simple danger alert with
        <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div class="alert alert-warning" role="alert">
        A simple warning alert with
        <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div class="alert alert-info" role="alert">
        A simple info alert with
        <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
</div>